<?xml version="1.0" encoding="utf-8" ?>
<Entity>
    <TableName>SYS_Menu</TableName>
    <PrimaryKey>M.Id</PrimaryKey>
    <Alias>M</Alias>
    <Columns>
        <Column>
            <Name>Id</Name>
            <Alias>M</Alias>
            <DataType>1</DataType>
            <Visible>true</Visible>
            <Order>1</Order>
            <Resource>Id</Resource>
            <AllowSort>true</AllowSort>
            <AllowReorder>false</AllowReorder>
            <Layout>
                <Width>75px</Width>
                <HeaderAlign>3</HeaderAlign>
                <ItemAlign>3</ItemAlign>
            </Layout>
            <Filter>
                <FilterType>2</FilterType>
                <AllowedTypes>5,6,8</AllowedTypes>
                <Expression>M.Id</Expression>
                <Allow>true</Allow>
            </Filter>
        </Column>
        <Column>
            <Name>Title</Name>
            <Alias>M</Alias>
            <DataType>2</DataType>
            <Visible>true</Visible>
            <Order>2</Order>
            <Resource>Title</Resource>
            <AllowSort>true</AllowSort>
            <AllowReorder>true</AllowReorder>
            <Filter>
                <FilterType>1</FilterType>
                <AllowedTypes>1,2,3,4</AllowedTypes>
                <Expression>M.Title</Expression>
                <Allow>true</Allow>
            </Filter>
        </Column>
        <Column>
            <Name>IconClass</Name>
            <Alias>M</Alias>
            <DataType>2</DataType>
            <Visible>false</Visible>
            <Order>3</Order>
            <AllowSort>false</AllowSort>
            <AllowReorder>true</AllowReorder>
            <Filter>
                <Allow>false</Allow>
            </Filter>
        </Column>
        <Column>
            <Name>PagePath</Name>
            <Alias>M</Alias>
            <DataType>2</DataType>
            <Visible>true</Visible>
            <Order>4</Order>
            <Resource>Path</Resource>
            <AllowSort>true</AllowSort>
            <AllowReorder>true</AllowReorder>
            <Filter>
                <FilterType>1</FilterType>
                <Allow>true</Allow>
                <AllowedTypes>1,2,3,4</AllowedTypes>
                <Expression>M.PagePath</Expression>
            </Filter>
        </Column>
        <Column>
            <Name>ParentId</Name>
            <Alias>M</Alias>
            <DataType>1</DataType>
            <Visible>false</Visible>
            <Order>5</Order>
            <AllowSort>true</AllowSort>
            <AllowReorder>true</AllowReorder>
            <Resource>ParentId</Resource>
            <Filter>
                <FilterType>2</FilterType>
                <Allow>true</Allow>
                <AllowedTypes>5,6,8</AllowedTypes>
                <Expression>M.ParentId</Expression>
            </Filter>
        </Column>
        <Column>
            <Name>Title</Name>
            <Alias>P</Alias>
            <Rename>ParentTitle</Rename>
            <DataType>2</DataType>
            <Visible>true</Visible>
            <Order>6</Order>
            <Lookup>SYS_Menu</Lookup>
            <Resource>Parent</Resource>
            <AllowSort>true</AllowSort>
            <AllowReorder>true</AllowReorder>
            <Filter>
                <FilterType>5</FilterType>
                <FilterDataText>Title</FilterDataText>
                <FilterDataValue>Id</FilterDataValue>
                <Allow>true</Allow>
                <AllowedTypes>5</AllowedTypes>
                <Expression>P.Id</Expression>
            </Filter>
        </Column>
        <Column>
            <Name>Order</Name>
            <Alias>M</Alias>
            <DataType>1</DataType>
            <Visible>true</Visible>
            <Order>7</Order>
            <Resource>Order</Resource>
            <AllowSort>true</AllowSort>
            <AllowReorder>false</AllowReorder>
            <Layout>
                <Width>50px</Width>
                <HeaderAlign>3</HeaderAlign>
                <ItemAlign>3</ItemAlign>
            </Layout>
            <Filter>
                <FilterType>2</FilterType>
                <AllowedTypes>5,6,7,8,9,10</AllowedTypes>
                <Expression>M.[Order]</Expression>
                <Allow>true</Allow>
            </Filter>
        </Column>
        <Column>
            <Name>IsPublished</Name>
            <Alias>M</Alias>
            <DataType>6</DataType>
            <Visible>true</Visible>
            <Order>8</Order>
            <Resource>Published</Resource>
            <AllowSort>true</AllowSort>
            <AllowReorder>true</AllowReorder>
            <Layout>
                <Width>50px</Width>
                <HeaderAlign>3</HeaderAlign>
                <ItemAlign>3</ItemAlign>
                <DisplayType>1</DisplayType>
            </Layout>
            <Filter>
                <Allow>true</Allow>
                <FilterType>3</FilterType>
                <AllowedTypes>5,6,7,8,9,10</AllowedTypes>
                <Expression>M.IsPublished</Expression>
            </Filter>
        </Column>
    </Columns>
    <ControlColumns>
        <Column>
            <Resource>Edit</Resource>
            <PermissionId>0</PermissionId>
            <Super>true</Super>
            <Type>1</Type>
        </Column>
        <Column>
            <Resource>Delete</Resource>
            <PermissionId>0</PermissionId>
            <Super>true</Super>
            <Type>2</Type>
        </Column>
    </ControlColumns>
    <SearchColumns>
        <Column>
            <Name>M.Title</Name>
            <SearchType>1</SearchType>
        </Column>
      <Column>
        <Name>P.Title</Name>
        <SearchType>1</SearchType>
      </Column>
    </SearchColumns>
    <Defaults>
        <EnableSelection>true</EnableSelection>
        <EnableSearch>true</EnableSearch>
        <EnablePaging>true</EnablePaging>
        <EnableRefresh>true</EnableRefresh>
        <EnableColumnSelection>true</EnableColumnSelection>
        <EnableFiltering>true</EnableFiltering>
        <EnableChangePageSize>true</EnableChangePageSize>
        <EditRecordLink>menus-editor.aspx?id={0}</EditRecordLink>
        <EnableSorting>true</EnableSorting>
        <EnableChangeColumnOrder>true</EnableChangeColumnOrder>
        <PageSize>25</PageSize>
        <PageIndex>0</PageIndex>
        <PagingPosition>3</PagingPosition>
        <OrderColumns>
            <Column>
                <Name>Id</Name>
                <Alias>M</Alias>
                <Order>1</Order>
            </Column>
        </OrderColumns>
    </Defaults>
    <JoinedTables>
        <Table>
            <Name>SYS_Menu</Name>
            <Alias>P</Alias>
            <SourceField>ParentId</SourceField>
            <JoinField>Id</JoinField>
            <JoinType>1</JoinType>
        </Table>
    </JoinedTables>
</Entity>