<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IsRemote" value="true"/>
    <add key="StructuresFilePath" value="business"/>
    <add key="CMSPath" value="cms"/>
    <add key="MailTemplate" value="EmailTemplates"/>
    <add key="Debug" value="false"/>
    <add key="StylesVersion" value=""/>
    <add key="ScriptsVersion" value=""/>
    <add key="SessionPrefix" value="LVS"/>
    <add key="EncryptionKey" value="LVS2016"/>
    <add key="CMSVersion" value="1.0.160620"/>
    <add key="AssetsPath" value="assets"/>
    <add key="ImageCropCachePath" value="cropcache"/>
    <add key="ImageCropQuality" value="100"/>
    <add key="CropRecyclePeriod" value="30"/>
    <add key="EnableURLRewriting" value="true"/>
    <add key="AdvancedURLRewriting" value="true"/>
    <add key="UsePortalPrefix" value="false"/>
    <add key="UseLanguagePrefix" value="true"/>
    <add key="DefaultPortal" value="portal"/>
    <add key="SecureKey" value="lvssecuritykey"/>
    <add key="OneSignalAPIKey" value="NWI3ZWJmODAtZWUzYy00ZTkwLTk2ODMtMWM3ODk3NzEwODQx"/>
    <add key="OneSignalAppId" value="e8158829-dc25-4f2a-bb4a-7b355338b571"/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add connectionString="Server=.;Database=LVS;User ID=LVSUsr;Password=L@V@S@2*;Connection Timeout=120;" name="local"/>
    <add connectionString="Server=.;Database=LVS;User ID=LVSUsr;Password=L@V@S@2*;Connection Timeout=120" name="remote"/>
    <add connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true;Connection Timeout=120" name="LocalSqlServer" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="WildCard" path="/files/*" verb="*" type="EGVControls.ImageCrop.ImageCropHandler, Backend" resourceType="Unspecified"/>
      <add name="ImageCrop.ImageCropHandler" verb="GET" path="images.axd" type="EGVControls.ImageCrop.ImageCropHandler, Backend" resourceType="Unspecified"/>
      <add name="AjaxHandler" verb="GET" path="ajax.axd" type="EGVControls.AjaxHandler, Backend" resourceType="Unspecified"/>
      <add name="DownloadHandler" verb="GET" path="download-attachment.axd" type="EGVControls.DownloadAttachment, Backend" resourceType="Unspecified"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <remove fileExtension=".mdb"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff"/>
      <mimeMap fileExtension=".mdb" mimeType="application/x-msaccess"/>
    </staticContent>
  </system.webServer>
  <location path="." inheritInChildApplications="false">
    <system.web>
      <machineKey decryptionKey="E12D9D290268DCC5845C658C2B4FD7AFD94E5B60FB05F962" validationKey="9D331DEA3B6E8028A83DBB7D84E3B0D85FBA83E54733AD23735B2997FDC56C2FE3D3B90C4C46EE14F974E9FE15E5C16F6B74B4DD1B0A1441AA6992D037D1AB32"/>
      <httpHandlers>
        <add verb="GET" path="images.axd" type="EGVControls.ImageCrop.ImageCropHandler, Backend"/>
        <add verb="GET" path="ajax.axd" type="EGVControls.AjaxHandler, Backend"/>
        <add verb="GET" path="download-attachment.axd" type="EGVControls.DownloadAttachment, Backend"/>
      </httpHandlers>
      <sessionState timeout="120"/>
      <compilation debug="true" targetFramework="4.0"/>
      <httpRuntime requestValidationMode="2.0"/>
      <customErrors mode="Off"/>
      <pages>
        <controls>
          <add tagPrefix="egvc" assembly="Backend" namespace="EGVControls"/>
        </controls>
      </pages>
    </system.web>
  </location>
  <location path="images.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ajax.axd">
    <system.web>
      <httpRuntime executionTimeout="180"/>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <roleManager enabled="false"/>
    <compilation targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>